@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    padding: 0;
    margin: 0;
    padding-top: 84px;
  }

a {
    color: gray;
    text-decoration: underline;
}
 
.container {
    max-width: none;
}
#leftMenu {
    width: 180px;
    height: 100%;
    background-color: rgb(64, 75, 124);
    color: gray;
    float: left;
    position: fixed;
}

#leftMenu p {
    text-align: center;
}

#leftMenu .row:hover , #leftMenu .row:hover svg {
    background-color: rgb(68, 95, 187);
    color: yellowgreen;
    fill:yellowgreen;
}

#profile {
    margin-left: 180px;
}

.link-primary {
    text-decoration: none;
}

.starrating > input {display: none;}

.starrating > label:before { 
  content: "\f005";
  margin: 2px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222;
}

.starrating > input:checked ~ label
{ color: #ff3908 ; }

.starrating > input:hover ~ label
{ color: #ff3908 ;  }

#exit, #pencil {
    background-color: white;
    border-color: gray;
}
#pencil:hover, #pencil:hover svg {
    background-color: yellowgreen;
    fill: white;
    border-color: yellowgreen;
}

#exit:hover, #exit:hover svg{
    background-color: red;
    fill: white;
    border-color: red;
}

#content {
    background-color: white;
    border-color: white;
    text-decoration: none;
    color: black;
}

#content:hover {
    text-decoration: underline 4px green;
}
